TELEGRAM_BOT_TOKEN="1234:foo-bar"
TELEGRAM_CHAT_ID="-12345"
SERVICE_ID="cnc-1916"
LOCATION_ID=42
USER_AGENT="Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:108.0) Gecko/20100101 Firefox/108.0; you@your-domain.com"
LOG_LEVEL="INFO" # Or some other level.
